{%- assign ratio = 1 -%}
<!-- Hardcoded ratio - adjust if needed -->

<div class="card-wrapper product-card-wrapper underline-links-hover">
  <a href="{{ card_product.url }}" class="card-link full-unstyled-link" aria-label="{{ card_product.title | escape }}">
    <div
      class="card card--{{ settings.card_style }} card--media color-{{ settings.card_color_scheme }} gradient card--extend-height"
      style="--ratio-percent: {{ 100 }}%;"
    >
      <div class="card__inner ratio" style="--ratio-percent: {{ 100 }}%;">
        <div class="card__media">
          <img
            src="{{ card_product.featured_image | img_url: 'master' }}"
            alt="{{ card_product.featured_image.alt | escape }}"
            loading="lazy"
          >
        </div>
        <div class="card__content">
          <div class="card__information">
            <h3 class="card__title">{{ card_product.title }}</h3>
            <div class="card__details">
              {%- if show_vendor -%}
                <span class="vendor">{{ card_product.vendor }}</span>
              {%- endif -%}
              <span class="description">{{ block.settings.description }}</span>
              {%- if show_rating and card_product.metafields.reviews.rating.value != blank -%}
                <div
                  class="rating"
                  role="img"
                  aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: card_product.metafields.reviews.rating.value, rating_max: card_product.metafields.reviews.rating.value.scale_max }}"
                >
                  <span
                    class="rating-star"
                    style="--rating: {{ card_product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ card_product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ card_product.metafields.reviews.rating.value.rating | modulo: 1 | rating_decimal }};"
                  ></span>
                </div>
                <span class="rating-count">({{ card_product.metafields.reviews.rating_count }})</span>
              {%- endif -%}
            </div>
          </div>
          <div class="card__badge {{ settings.badge_position }}">
            {%- if card_product.available == false -%}
              <span class="badge badge--bottom-left color-{{ settings.sold_out_badge_color_scheme }}">
                {{- 'products.product.sold_out' | t -}}
              </span>
            {%- elsif card_product.compare_at_price > card_product.price and card_product.available -%}
              <span class="badge badge--bottom-left color-{{ settings.sale_badge_color_scheme }}">
                {{- 'products.product.on_sale' | t -}}
              </span>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
